/* styles/globals.css */
@tailwind utilities;
@tailwind base;
@tailwind components;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto&family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cookie&display=swap');


  h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-allura);
  }
  
  :root {
    --background: #F5F5F5; /* Fondo suave y ligeramente gris */
    --foreground: #1A1A1A; /* Texto oscuro casi negro para buen contraste */
  
    --font-allura: var(--font-allura);
    --font-roboto: var(--font-roboto);
    --font-roboto-mono: var(--font-roboto-mono);
    --font-cookie: var(--font-cookie);
    --font-opensans: var(--font-opensans);
    --font-dancing: var(--font-dancing);
  
    --color-1: #3C3C3C; /* Gris oscuro, ideal para texto secundario */
    --color-2: #6D6D6D; /* Gris medio para elementos neutros y bordes */
    --color-3: #A9A9A9; /* Gris claro, buen contraste con el fondo */
    --color-4: #E8E8E8; /* Gris muy claro, perfecto para fondos secundarios */
    --color-5: #FFFFFF; /* Blanco puro para detalles */
    --color-6: #4E4E4E; /* Gris oscuro con un tono frío */
    --color-7: #B3A394; /* Un gris neutro con un toque de beige suave */
  }
  
  body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-roboto);
  }

  @layer utilities {
    .text-balance {
      text-wrap: balance;
    }
    .font-roboto {
      font-family: var(--font-roboto);
    }
    .font-mono {
      font-family: var(--font-roboto-mono);
    }
    .font-cursive {
      font-family: var(--font-allura);
    }
    .font-cookie {
      font-family: var(--font-cookie);
    }
    .font-opensans {
      font-family: var(--font-opensans);
    }
    .font-dancing {
      font-family: var(--font-dancing);
    }
  }
  
  /* styles/global.css */
  @keyframes heartBeat {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.4);
    }
  }
  
  .animate-heartBeat {
    animation: heartBeat 2s infinite ease-in-out;
  }
  